{% extends "base.html" %}

{% block title %}Создание{% endblock %}
<h1>Create Article</h1>

{% block content %}
    <form action="{% url "article_add" %}" method="post">
        {% csrf_token %}
        <label>Title:</label><br/>
        <input type="text" name="title"/><br/>
        <label>Content:</label><br/>
        <textarea name="content"></textarea><br/>
        <label>Author:</label><br/>
        <input type="text" name="author"/><br/>
        <br/>
        <select name="section_id" id="">
            {% for section in sections %}
                <option value="{{ section.id }}">{{ section.title }}</option>
            {% endfor %}
        </select>
        <br/>
        <input type="submit" value="Send"/>
    </form>
{% endblock %}