{% extends "base.html" %}

{% block link %}

    <li class="nav-item">
        <a class="nav-link" href="{% url "products_list" %}">Products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "product_add" %}">Add product</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "category_add" %}">Add category</a>
    </li>

{% endblock %}

{% block title %}Создание{% endblock %}


{% block content %}
    <h1 style="margin-top: 30px; margin-bottom: 30px">Add Product</h1>

    {% include "partial/product_form.html" with button_text="Add product" %}
{% endblock %}
