{% extends "base.html" %}

{% block link %}

    <li class="nav-item">
        <a class="nav-link" href="{% url "products_list" %}">Products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "product_add" %}">Add product</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "category_add" %}">Add category</a>
    </li>

{% endblock %}

{% block title %}Создание{% endblock %}


{% block content %}
    <h1 style="margin-top: 30px; margin-bottom: 30px">Add Product</h1>

    <form action="{% url "product_add" %}" method="post">
        {% csrf_token %}
        <div class="mb-3 col-sm-7">
            <input type="text" placeholder="Title" required class="form-control" name="title"/>
        </div>

        <div class="mb-3 col-sm-7">
            <input type="number" required placeholder="Price" class="form-control" name="price"/>
        </div>
        <div class="mb-3 col-sm-7">
            <input type="text" placeholder="Image url" class="form-control" required name="image"/>
        </div>
        <div class="mb-3 col-sm-7">
            <select class="form-select" required name="category_id" id="">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.title }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="mb-3 col-sm-7">
            <textarea class="form-control" placeholder="Description" rows="5" name="description"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Add product</button>

    </form>
{% endblock %}