{% extends "base.html" %}

{% block link %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "products_list" %}">Products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "product_add" %}">Add product</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "category_add" %}">Add category</a>
    </li>
{% endblock %}

{% block content %}
    <h3 style="margin-top: 40px">Are you sure you want to delete the product: {{ product.title }}?</h3>
    <form action="" method="post" style="margin-top: 40px">
        {% csrf_token %}

        <button type="submit" class="btn btn-primary btn-lg" style="margin-right: 20px">Yes</button>
        <a class="btn btn-secondary btn-lg" href="{% url "index" %}" role="button">No</a>

    </form>

{% endblock %}