{% extends "base.html" %}

{% block link %}

    <li class="nav-item">
        <a class="nav-link" href="{% url "products_list" %}">Products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "product_add" %}">Add product</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "category_add" %}">Add category</a>
    </li>

{% endblock %}


{% block content %}

    {% include 'partial/search_form.html' %}

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

    <div style="margin-top: 50px; margin-bottom: 50px" class="row row-cols-1 row-cols-md-3 g-4">

        {% for product in products %}
            <div class="col">
                <div class="card h-100">
                  <img src="{{ product.image }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.category.title }}</p>
                    <h5 class="card-title">Price: {{ product.price }}$</h5>
                    <h5 class="card-title">Balance: {{ product.balance }}</h5>
                    <a href="{% url "product_view" product.pk %}" class="card-link">see more >>></a>
                    <a href="{% url "product_update_view" product.pk %}" class="card-link">update >>></a>
                    <a href="{% url "product_delete_view" product.pk %}" class="card-link">delete >>></a>
                  </div>
                </div>
            </div>

            {% empty %}
            <h2>продукты не найдены</h2>

        {% endfor %}

    </div>

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

{% endblock %}
